.page-header{
    font-size: 3em;
}
.goal, .score{
    font-size: 1.5em;
}
.goal, .btnGroup{
    margin-top: 50px;
}
img {
    height: 100px;
    width: auto;
}
#reset{
    margin: 20px;
}

